<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th
          appSortHeader
          scope="col"
          sortable="country"
          (sort)="onSort($event)">
          Maa
        </th>
        <th scope="col">Kuvaus</th>
        <th appSortHeader scope="col" sortable="date" (sort)="onSort($event)">
          Päivä
        </th>
        <th scope="col">Diplomaatti?</th>
        <th scope="col">Diplomaatin numero</th>
        <th scope="col">Poista havainto</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let sighting of sightings">
        <td>{{ sighting.country }}</td>
        <td>{{ sighting.description }}</td>
        <td>{{ sighting.date | date: 'dd.MM.yy HH.mm' }}</td>
        <td>{{ sighting.isDiplomat ? 'X' : '' }}</td>
        <td>{{ sighting.diplomatNumber }}</td>
        <td>
          <button class="btn btn-danger" (click)="deleteSighting(sighting.id)">
            Poista
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Poista havainto</h4>
    <button
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss(false)"></button>
  </div>
  <div class="modal-body">
    <p><strong>Haluatko varasti poistaa havainnon?</strong></p>
    <p>
      Jos poistat havainnon, se poistuu pysyvästi.
      <span class="text-danger">Tätä toimintoa ei voi peruuttaa.</span>
    </p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-outline-secondary" (click)="modal.dismiss(false)">
      Peruuta
    </button>
    <button class="btn btn-danger" (click)="modal.close(true)">Poista</button>
  </div>
</ng-template>
